*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.dropDown {
    display: none;
}

header {
    background-color: black;
    height: 8vh;
}

.cafH1 {
    color: rgb(60, 220, 20);
    width: 30%;
    margin-left: 20px;
    padding: 5px;
    position: relative;
    font-size: 45px;
}

.cafH2 {
    color: rgb(228, 6, 6);
    margin-left: 110px;
    padding: 7px;
    position: absolute;
    margin-top: -63px;
    font-size: 45px;
}

.menu li,a,ul {
    display: flex;
    width: 60%;
    justify-content: right;
    align-items: center;
    margin-top: -15px;
    margin-right: 70px;
    color: rgb(248, 248, 248);
    list-style: none;
    text-decoration: none;
    font-size: 25px;
}

.menu a:hover {
    color: rgb(11, 255, 2);
}

.proprietario img {
    width: 300px;
    border-radius: 50%;
    margin-top: 15px;
    display: flex;
}

.nomeCeo {
    text-align: center;
    font-size: 25px;
}

.texto {
    font-size: 25px;
    margin-top: 30px;
    display: flex;
    height: 30vh;
    text-align: justify;
    color: rgb(0, 0, 0);
}

.banner {
    height: 91vh;
    margin-top: 3px;
    width: 100%;
    background-size: cover;
}

.descricao {
    font-size: 45px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 45px;
    margin-left: 35px;
}

.opcoes {
    color: rgb(255, 255, 255);
    position: absolute;
    margin: 150px;
    margin-left: 100px;
    font-size: 35px;
}
.opcoes2 {
    color: rgb(255, 255, 255);
    position: absolute;
    margin: 220px;
    margin-left: 150px;
    font-size: 35px;
}
.opcoes3 {
    color: rgb(192, 76, 76);
    position: absolute;
    margin: 290px;
    margin-left: 200px;
    font-size: 35px;
}

